.app-header {
    font-size: 50px; /* Adjust the font size as needed */
    text-align: center;
}

.checkbox-container {
    display: flex; /* Use flexbox to align checkboxes in a row */
    justify-content: space-between; /* Space the boxes evenly across the container */
}

.go-to-today {
    font-size: 20px; /* Adjust the font size as needed */
    text-align: center;
    margin-top: 20px; /* Adjust the margin-top value to lower the link */
}

/* Hide the default checkbox */
html input[type="checkbox"] {
    display: none !important;
}

/* Highlight the box around the day when checkbox is checked */
.checkbox-container input[type="checkbox"]:checked + label {
    border: 2px solid green;
}

/* Increase the size of the task and time allotment boxes */
.task-box,
.time-allotment-box {
    width: 300px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
}

.submit {
    margin-top: 35px; /* Adjust the margin-top value to create space between the submit box and the link */
}

.today-link {
    font-size: 14px !important; 
    margin-bottom: 50px
    /* Adjust the font size as needed and add !important to override other styles */
}

body {
    background-color: black;
    color: white;
}

