<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<body>
    <div class="App">
        <header class="App-header">
            <img src="{{ url_for('static', filename='Octocat.png') }}" class="App-logo" alt="logo" />
            <p>
                GitHub Codespaces <span class="heart">♥️</span> Flask
            </p>
            <p class="small">
                Edit <code>templates/index.html</code> and refresh to see your changes!
            </p>
        </form action = "/add_task" method "post" 
        <label for="task">Task:</label><br>
        <input type=" "text" id = "task" name = "task"><br>
        <label for="weekday">Weekday:</label><br>
        <select id="weekday" name="weekday">
            <option value="Monday">Monday</option>
            <option value="Tuesday"></option>
            <option value="Wednesday"></option>
            <option value="Thursday"></option>
            <option value="Friday"></option>
            <option value="Saturday"></option>
            <option value="Sunday"></option>
        </select><br>
        <label for="time_allotment">Time Allotment:</label><br>
        <input type="number" id="time_allotment" name="time_allotment"><br>
        <input type="submit" value="Submit">
            </form>
        </header>
    </div>
</body>

</html>
